In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Salary_Data.csv')
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
X=df['YearsExperience']
Y=df['Salary']

# Pearson_Correlation_Coefficient

In [5]:
sum_products=0
def user_pearsonr(x, y):
    n = len(x)

    # Calculate the mean of x and y
    x_mean = sum(x) / n
    y_mean = sum(y) / n

    # Calculate the sum of squares for x and y
    x_sum_squares = sum((x_i - x_mean) ** 2 for x_i in x)
    y_sum_squares = sum((y_i - y_mean) ** 2 for y_i in y)

    # Calculate the sum of products for x and y
    sum_products = sum((x_i - x_mean) * (y_i - y_mean) for x_i, y_i in zip(x, y))
    
    # Calculate the Pearson correlation coefficient
    r = sum_products / ((x_sum_squares * y_sum_squares) ** 0.5)

    return r,x_sum_squares,y_sum_squares
r,d1,d2=user_pearsonr(X, Y)   
print('R value',r)

R value 0.9782416184887598

# Slope

In [6]:
Std_y=np.sqrt(d2/(Y.count()-1))
Std_x=np.sqrt(d1/(X.count()-1))
Slope=r*(Std_y/Std_x)
print("Slope Value ",Slope)

Slope Value  9449.962321455076

# Y-intercept

In [7]:
y_intercept=Y.mean()-Slope*X.mean()
y_intercept

25792.200198668696

# Predection

In [8]:
#Considering x as 7.5
x_new=7.5
y_pred=y_intercept+(Slope*x_new)
y_pred

96666.91760958177

In [9]:
def simple_Linear_Regression(x,y):
    n = len(x)

    # Calculate the mean of x and y
    x_mean = sum(x) / n
    y_mean = sum(y) / n

    # Calculate the sum of squares for x and y
    x_sum_squares = sum((x_i - x_mean) ** 2 for x_i in x)
    y_sum_squares = sum((y_i - y_mean) ** 2 for y_i in y)

    # Calculate the sum of products for x and y
    sum_products = sum((x_i - x_mean) * (y_i - y_mean) for x_i, y_i in zip(x, y))
    
    # Calculate the Pearson correlation coefficient
    r = sum_products / ((x_sum_squares * y_sum_squares) ** 0.5)

    print('R Value',r)
    
    Std_y=np.sqrt(d2/(Y.count()-1))
    Std_x=np.sqrt(d1/(X.count()-1))
    Slope=r*(Std_y/Std_x)
    
    print("Slope Value ",Slope)
    
    y_intercept=Y.mean()-Slope*X.mean()
    y_intercept
    
    #x_new=7.5
    x_new=float(input("Enter the year of exprience "))
    y_pred=y_intercept+(Slope*x_new)
    y_pred
    print('Expected Salary :',int(y_pred))

In [13]:
simple_Linear_Regression(X,Y)

R Value 0.9782416184887598
Slope Value  9449.962321455076
Enter the year of exprience 20
Expected Salary : 214791